/*
 * m4u
 * Copyright 2022 - License MIT
 */
:root {

    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
        "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;

    /* Height & Width */
    --navbar-h: 4em;
    /*64px*/
    --aside-rail: var(--navbar-h);
    /*64px*/
    --aside-drawer: 15.625em;
    /*250px*/

    /* Border */
    --border: 1px solid var(--border-color);

    /* Animation */
    --transition: .3s ease-in-out;
    --fadeIn: fadeIn 1s ease;
    --fadeOut: fadeOut .8s ease;




    /*--border-radius: .75em;*/
    /* --border-width: 1px;
    --outline-width: 3px;

    /*--spacing: 1rem;
    --typography-spacing-vertical: 1.5rem;
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);
    --grid-spacing-vertical: 0;
    --grid-spacing-horizontal: var(--spacing);
    --form-element-spacing-vertical: 0.75rem;
    --form-element-spacing-horizontal: 1rem;
    --nav-element-spacing-vertical: 1rem;
    --nav-element-spacing-horizontal: 0.5rem;
    --nav-link-spacing-vertical: 0.5rem;
    --nav-link-spacing-horizontal: 0.5rem;
    --form-label-font-weight: var(--font-weight);*/



    /* Color */
    --body-bg: #fafbfc;
    --body-color: #3e5569;
    --border-color: #e9ebf0;

    --info:#0d6efd;
    ---success:#20c997;
    --warning:#ffc107;
    --danger:#dc3545;
}

/**
 * Document
 * Content-box & Responsive typography
 */
*,
*::before,
*::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    width: 100%;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-hover-color);
}

/**
 * Utils
 */
[hidden] {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.logo {
    height: 30px;
    width: 30px;
}

/**
 * Icons SVG 
 */
.icon-m4u {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/**
 * Aside
 */
aside {
    background-color: #fff;
    border: var(--border);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    transition: all var(--transition);
    left: -200%;
}

aside.open {
    left: 0;
}

aside header {
    padding: 1em;
}

aside main {
    flex: 1;
}

aside footer {
    border-top: var(--border);
    padding: 1.5em 0;
}

:is(aside:hover, aside.open) header .logo::after {
    content: attr(data-logo);
    animation: var(--fadeIn);
    font-size: 2em;
    color: #3088ff;
}

:is(aside:hover, aside.open) header .logo {
    height: 3em;
}

:is(aside:hover, aside.open) header img {
    display: none;
}

aside :is(main, footer) a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5em 1em;
}

aside main a:hover {
    background-color: #f2f2f2;
}

aside main a.active {
    color: #5687ff;
}

aside.open :is(main, footer) a::after {
    content: attr(data-name);
    animation: var(--fadeIn);
    margin-left: .5em;
}

/**
 * Navbar
 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-h);
    padding: 0 1em;
}


/**
 * Animation
 */

.fadeIn {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 1.5s ease;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeUp {
    animation: fadeUp .8s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/**
 * Media Query
 */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    aside {
        left: 0%;
        width: var(--aside-rail);
    }

    aside header svg {
        display: none;
    }

    aside~main {
        padding-left: var(--aside-rail);
    }

    nav {
        display: none
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    aside:hover {
        width: var(--aside-drawer);
    }

    aside:hover :is(main, footer) a::after {
        content: attr(data-name);
        animation: var(--fadeIn);
        margin-left: .5em;
    }

    aside:hover~main {
        padding-left: var(--aside-drawer);
        transition: padding var(--transition);
    }

    main {
        padding: 1em 0;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}