/**
* M4U
* 
* License MIT
* Copyright 2022
*/
@charset "UTF-8";

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #7e8299;
    --gray-dark: #3f4254;
    --primary: #1abaff;
    --secondary: #89929f;
    --success: #50cd89;
    --info: #9c5aff;
    --warning: #ff490f;
    --danger: #ef305e;
    --light: #f5f8fa;
    --dark: #2f3044;
    --white: #fff;
    --muted: #b5b5c3;



    --primary-hover: #0094ff;

    --code-color: #d63384;
    --highlight-bg: #fff3cd;
    /* e1256012

    /*=============================measures=============================*/
    /* --nav-h: 4em;
    --btn-h: 2.5em;

*/
    --border-radius: 0.625rem;
    --border-radius-sm: 0.3125rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 1rem;
    --border-radius-2xl: 2rem;
    --border-radius-pill: 50rem;



    --transition: .3s ease-in-out;

    /*=============================Tpography=============================*/



    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

}

/*=============================Theme=============================*/
[data-theme=light],
:root:not([data-theme=dark]) {
    color-scheme: light;
    --body-bg: var(--light);
    --body-color: var(--gray-dark);
    --disabled-bg: #e9ecef;
    --disabled-color: var(--muted);
}
/*
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        color-scheme: dark;
        --body-bg: var(--dark);
        --body-color: var(--light);
        --disabled-bg:#92929f4f;
        --disabled-color: #92929f;
    }
}

[data-theme=dark] {
    color-scheme: dark;
    --body-bg: #1e1e2d;
    --body-color: var(--light);
    --disabled-bg:#92929f4f;
    --disabled-color: #92929f;
}

/*=============================Reset=============================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

button,
input {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    outline: none;
}

/*=============================DOM=============================*/
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--body-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    flex: 1;
}

/*=============================Tpography=============================*/
h6,
h5,
h4,
h3,
h2,
h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary-hover);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.875em;
}

pre code {
    font-size: inherit;
    word-break: normal;
    display: block;
    border-radius: var(--border-radius);
    overflow-x: scroll;
    padding: 1em;

    background-color: #ced4da;
    color: inherit;
}

/*
code {
    font-size: 0.875em;
    color: var(--code-color);
    background: var(--highlight-bg);
    word-wrap: break-word;
    padding: 3px 4px;
    border-radius: 5px;
}
*/


/*=============================Util=============================*/
img {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

/*=============================Icons=============================*/
.icon-m4u {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*=============================Button=============================*/
[role="button"] {
    display: inline-block;
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: var(--border-radius-sm);
    color: white !important;
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5;
    padding: 0 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: all var(--transition);
    font-size: 14px;
    font-weight: 500;
}

[role="button"]:hover {
    background-color: var(--primary-hover);

}

[role="button"]:is(:disabled, .disabled) {
    background-color: var(--disabled-bg);
    color: var(--disabled-color) !important;
    cursor: default;
}

[role="button"].text {
    background-color: transparent;
    color: var(--primary) !important;
}

[role="button"].text:hover {/*
    background-color: var(--disabled-bg);
}

[role="button"].text.info:hover {*/
    background-color: #1abaff1a;
}
[role="button"].text.danger {
    color: var(--danger) !important;
}

[role="button"].text.danger:hover {
    background-color: #ef305e1a;
}

[role="button"].btn-lg {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

/*=============================Input=============================*/



/*=============================Switch=============================*/


/*=============================Nav=============================*/


/*=============================Aside=============================*/


/*=============================MediaQuery=============================*/


/*=============================Animation=============================*/


/*=============================Image=============================*/


/*=============================Image=============================*/


/*=============================Image=============================*/