/**
* M4U
* 
* License MIT
* Copyright 2022
*/
@charset "UTF-8";

:root {
    --body-bg: #f8f9fa;
    --body-color: #3e5569;
    --link-color: #0d6efd;
    --link-hover-color: #0a58ca;

    --secondary: #6c757d;

    --code-color: #d63384;
    --highlight-bg: #fff3cd;
    /* e1256012

    /*=============================measures=============================*/
    --nav-h: 4em;
    --btn-h: 2.5em;


    --border-radius: 0.625rem;
    --border-radius-sm: 0.25rem;
    --border-radius-lg: 0.5rem;
    ---border-radius-xl: 1rem;
    ---border-radius-2xl: 2rem;
    ---border-radius-pill: 50rem;



    --transition:.3s ease-in-out;

    /*=============================Tpography=============================*/
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;


    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));


    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);


    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

/*=============================Reset=============================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

button,
input {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    outline: none;
}

/*=============================DOM=============================*/
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    flex: 1;
}

/*=============================Tpography=============================*/
h6,
h5,
h4,
h3,
h2,
h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code {
    font-family: monospace;
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.875em;
}

pre code {
    font-size: inherit;
    word-break: normal;
    display: block;
    border-radius: var(--border-radius);
    overflow-x: scroll;
    padding: 1em;

    background-color: #ced4da;
    color: inherit;
}

/*
code {
    font-size: 0.875em;
    color: var(--code-color);
    background: var(--highlight-bg);
    word-wrap: break-word;
    padding: 3px 4px;
    border-radius: 5px;
}
*/


/*=============================Util=============================*/
img {
    width: 100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

/*=============================Icons=============================*/
.icon-m4u {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*=============================Button=============================*/
[role="button"] {
    display: inline-block;
    background-color: var(--link-color);
    border-radius: var(---border-radius-2xl);
    color: white !important;
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5;
    padding: 0 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: all var(--transition);
}

[role="button"]:hover {
    background-color: var(--link-hover-color);

}
[role="button"]:is(:disabled,.disabled){
    background-color: #e9ecef;
    color: #adb5bd !important;
    cursor: default;
}
[role="button"].outline{
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary) !important;
}
[role="button"].outline:hover{
    background-color: var(--secondary);
    color:white !important;
}
[role="button"].btn-lg {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

/*=============================Input=============================*/



/*=============================Switch=============================*/


/*=============================Nav=============================*/


/*=============================Aside=============================*/


/*=============================MediaQuery=============================*/


/*=============================Animation=============================*/


/*=============================Image=============================*/


/*=============================Image=============================*/


/*=============================Image=============================*/